pandas
numpy
scipy
matplotlib
seaborn
python-docx
scikit-learn
statsmodels
openpyxl
xlrd
pyod
networkx
streamlit
geopandas 
h3 
folium  
pyproj 
shapely 
sqlalchemy 
psycopg2-binary 
tqdm
scikit-image
pdfplumber 
sentence-transformers 
faiss-cpu
geopy
dash
dash-bootstrap-components 
plotly 
pydantic
fastapi
